
<div class="card col-lg-12">
    <div class="card-body">
        <a href="#!" class="text-muted float-end mt-n1 fs-xl"><i class="ti ti-external-link"></i></a>
        <h5 title="Number of Tasks">My Tasks</h5>
        <div class="d-flex align-items-center gap-2 my-3">
            <div class="avatar-md flex-shrink-0">
                <span class="avatar-title text-bg-light rounded-circle fs-22">
                    <i class="ti ti-checklist"></i>
                </span>
            </div>
            <h3 class="mb-0"><span data-target="124">0</span></h3>
            <span class="badge badge-soft-primary fw-medium ms-2 fs-xs ms-auto">+3 New</span>
        </div>
        <p class="mb-0">
            <span class="text-primary"><i class="ti ti-point-filled"></i></span>
            <span class="text-nowrap text-muted">Total Tasks</span>
            <span class="float-end"><b>12,450</b></span>
        </p>
    </div> <!-- end card-body-->
</div> <!-- end card-->